<!DOCTYPE html>

<!--/*

A content fragment: the "address" div will be inserted into the enclosing
section of the active layout.

The content for this page is relates to defining an addresses.

*/-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="#{view.address.title}">Address</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
        <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
        <script src="../../../resources/js/jquery-2.1.4.min.js" th:src="@{/resources/js/jquery-2.1.4.min.js}"></script>
        <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    </head>

    <body>
        
        <!-- TODO: Does an address ever live alone? -->
        
        <!--/* The replaceable fragment */-->
        <div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel" aria-hidden="true" data-backdrop="static" th:fragment="modalAddress">
            
            <div class="modal-dialog">
                
                <div class="modal-content">
                    
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="noteModalLabel">Address</h4>
                    </div>
                    
                    <div class="modal-body">
                        
                            <!--/* Show general error message when form contains errors */-->
                            <th:block th:if="${#fields.hasErrors('${partyForm.*}')}">
                                <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
                            </th:block>

                            <fieldset>

                                <legend>Address</legend>

                                <div class="form-group" th:classappend="${#fields.hasErrors('line1')}? 'has-error'">
                                    <label for="line1" class="col-lg-2 control-label">Line 1</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="line1" placeholder="Line 1" th:field="*{line1}"  autofocus="true"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('line1')}" th:errors="*{line1}">Invalid address line 1</span>
                                    </div>
                                </div>

                                <div class="form-group" th:classappend="${#fields.hasErrors('line2')}? 'has-error'">
                                    <label for="line2" class="col-lg-2 control-label">Line 2</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="line2" placeholder="Line 2" th:field="*{line2}" />
                                        <span class="help-block" th:if="${#fields.hasErrors('line2')}" th:errors="*{line2}">Invalid address line 2</span>
                                    </div>
                                </div>

                                <div class="form-group" th:classappend="${#fields.hasErrors('city')}? 'has-error'">
                                    <label for="city" class="col-lg-2 control-label">City</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="city" placeholder="City" th:field="*{city}" />
                                        <span class="help-block" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Invalid city</span>
                                    </div>
                                </div>

                                <div class="form-group" th:classappend="${#fields.hasErrors('subdivisionCode')}? 'has-error'">
                                    <label for="province" class="col-lg-2 control-label">Province</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="province" placeholder="Province" th:field="*{subdivisionCode}" />
                                        <span class="help-block" th:if="${#fields.hasErrors('subdivisionCode')}" th:errors="*{subdivisionCode}">Invalid province</span>
                                    </div>
                                </div>

                                <div class="form-group" th:classappend="${#fields.hasErrors('postalCode')}? 'has-error'">
                                    <label for="postalCode" class="col-lg-2 control-label">Postal Code</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="postalCode" placeholder="A0B 2C3" th:field="*{postalCode}" />
                                        <span class="help-block" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}">Invalid postal code</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="note" class="col-lg-2 control-label">Note</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="note" placeholder="Note" th:field="*{note}" />
                                    </div>
                                </div>

                            </fieldset>
                            
                            <input type="hidden" name="countryCode" id="countryCode" value="CA"/>
                            <input type="hidden" name="modalAddressId" id="modalAddressId" value="0"/>
                            <input type="hidden" name="modalAddressVersion" id="modalAddressVersion" value="0"/>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" name="saveAddressAction" value="saveAddress">Save Address</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal" name="closeAddressAction" value="closeAddress">Close</button>
                    </div>
                    

                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
        
    </body>
    
</html>