<!DOCTYPE html>

<!--/*

A content fragment: the "content" div will be inserted into the "content"
section of the active layout.

The content for this page is relates to defining people, businesses, addresses,
contact numbers, etc.

*/-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="#{view.party.title}">Party</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        
        <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
        <link href="../../../resources/css/selectize-0.12.1.css" rel="stylesheet" media="screen" th:href="@{/resources/css/selectize-0.12.1.css}" />
        <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
        
        <script src="../../../resources/js/jquery-2.1.4.min.js" th:src="@{/resources/js/jquery-2.1.4.min.js}"></script>
        <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
        <script src="../../../resources/js/selectize-0.12.1.min.js" th:src="@{/resources/js/selectize-0.12.1.min.js}"></script>
    </head>

    <body>
        
        <div class="container" th:fragment="content">
            
                <form class="form-horizontal" method="post" th:action="@{/core/party}" th:object="${partyForm}" >

                    
                    <!--/* Hidden modal display used to populate "notes" element of the form */-->
                    <div th:replace="fragments/modalNote :: modalNote"></div>
            
                    
                    <!--/* Show general error message when form contains errors */-->
                    <th:block th:if="${#fields.hasErrors('${partyForm.*}')}">
                        <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
                    </th:block>
                    
                    
                    <fieldset>
                        
                        <legend>Party</legend>
                        
                        <div class="form-group" th:classappend="${#fields.hasErrors('partyName')}? 'has-error'">
                            <label for="inputPartyName" class="control-label col-lg-1">Name</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="inputPartyName" placeholder="Party Name" th:field="*{partyName}" autofocus="true"/>
                                <span class="help-block" th:if="${#fields.hasErrors('partyName')}" th:errors="*{partyName}">Invalid party name</span>
                            </div>
                            <div class="col-lg-7">
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#noteModal">Notes</button>
                            </div>
                        </div> 
                        
                        <div class="form-group">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <input type="checkbox" name="inactive" th:field="*{recordMetaData.inactive}"/>Inactive
                            </div>
                        </div>

                        
                        <!--/* Add action buttons depending on state of form. */-->
                        <div th:replace="fragments/modeButtons :: modeButtons"></div>


                    </fieldset>
                    
                </form>

            
            <div th:if="${partyForm.recordMetaData.editMode}">
                
                <!-- A form to show an "Address" modal dialog -->
                <form id="addressModalForm" class="form-horizontal" method="post" th:action="@{/core/party/address}" th:object="${addressForm}" >
                    <div th:replace="core/contact/address :: modalAddress"></div>
                </form>
                
                <!-- A form to request a deletion of an "Address" mapping to a "Party" -->
                <form id="partyAddressDelete" method="post" th:action="@{/core/party/addressDelete}">
                    <input type="hidden" name="selectedAddressId" id="selectedAddressId" value=""/>
                </form>
                
                
                <h4>Address <a href="#"><span class="fa fa-plus-circle" style="color:green" data-toggle="modal" data-target="#addressModal" th:onclick="'document.forms[\'addressModalForm\'].reset(); document.getElementById(\'line1\').focus(); return false;'"></span></a></h4>
                
                <form method="get" th:action="@{/core/addressSearch}" id="addressSearch">
                    <div class="selectize-control multi">
                        <select id="selectAddress" name="selectAddress" placeholder="Pick an address"></select>                        
                    </div>
                </form>
                
                <table class="table table-striped">
                        
                        <tr th:each="address, iterationStatus : ${partyForm.addresses}">
                            
                            <td th:text='${iterationStatus.count}'>index</td>
                            <td th:text="${address.toString()}">Address</td>
<!--/*                             <td><a href="#" data-toggle="modal" data-target="#addressModal" th:text="${address.toString()}">Address</a></td> */-->

                            <td th:text="${address.note}">Note</td>
                            
                            <!-- Edit Address -->
                            <td>
                                <a href="#"
                                   data-toggle="modal" data-target="#addressModal"
                                   th:onclick="'prepareAddressModal(' + ${address.toJson()} + '); return false;'">
                                    <i class="fa fa-edit"/>
                                </a>
                            </td>
                            

                            
                            <!-- Delete mapping -->
                            <td>
                                <a href="#"
                                   th:onclick="'document.getElementById(\'selectedAddressId\').value = \'' + ${address.recordMetaData.id} + '\'; document.forms[\'partyAddressDelete\'].submit(); return false;'">
                                    <i class="fa fa-remove" style="color:red"/>
                                </a>
                            </td>

                        </tr>
                        
                    </table>

            </div>
            
            <!-- Note: the script should fall within the fragment to be included in the "default" template -->
            <script th:inline="javascript">
                
                /* Pre-populate address modal */
                function prepareAddressModal(srcAddress) {
                    document.getElementById('line1').value = (srcAddress.line1|| "");
                    document.getElementById('line2').value = (srcAddress.line2|| "");
                    document.getElementById('city').value = (srcAddress.city|| "");
                    document.getElementById('province').value = (srcAddress.subdivisionCode|| "");
                    document.getElementById('postalCode').value = (srcAddress.postalCode|| "");
                    document.getElementById('countryCode').value = (srcAddress.countryCode|| "");
                    document.getElementById('note').value = (srcAddress.note|| "");
                    document.getElementById('modalAddressId').value = (srcAddress.recordMetaData.id|| "");
                    document.getElementById('modalAddressVersion').value = (srcAddress.recordMetaData.version|| "");
                }
                    
                /**
                 * returns the current context path,
                 * ex: http://localhost:8080/MyApp/Controller returns /MyApp/
                 * ex: http://localhost:8080/MyApp returns /MyApp/
                 * ex: https://www.example.co.za/ returns /
                 * http://stackoverflow.com/questions/14708003/javascript-relative-ajax-call-path
                 */
                function getContextPath() {
                    var ctx = window.location.pathname,
                        path = '/' !== ctx ? ctx.substring(0, ctx.indexOf('/', 1) + 1) : ctx;
                    return path + (/\/$/.test(path) ? '' : '/');
                }


                // Selectize helper functions
                
                function onAddressSearchLoad(query, callback) {
                            
                    if (!query.length) return callback();

                    $.ajax({
                        
                        url: getContextPath() + 'core/addressSearch/' + encodeURIComponent(query),
                        type: 'GET',
                        
                        error: function(jqXHR, textStatus, errorThrown) {
                            callback();
                        },
                        
                        success: function(addressList) {
                            // The result to pass to callback must be an array of js objects
                            // The fields of the resultant objects to use for display, value, and search listed above
                            callback(addressList.slice(0, 20));  // Don't show more than 20 items
                        }
                        
                    }); //end ajax call

                } // end onAddressSearchLoad
                
                
                function onAddressSearchSelection(value, $item) {
                    
                    console.log($item);
                    $.ajax({
                        url: getContextPath() + 'core/party/addressAttach?${_csrf.parameterName}=${_csrf.token}',
                        type: 'POST',
                        data: { addressId: value }
                    });
                    //var csrf_token = $.cookie('csrftoken');
                    //$.post(getContextPath() + 'core/party/addressAttach', { addressId: value, _token: csrf_token });
                    // TODO: create an ajax post with party id and address id, re-render page
                }
                
                
                
                // After document is ready, initialize some components
                $( document ).ready( function() {

                    // Every time a modal is shown, if it has an autofocus element, focus on it.
                    $('.modal').on('shown.bs.modal', function() { $(this).find('[autofocus]').focus(); });
                    // $('#addressModal').on('shown.bs.modal', function() { $('#line1').focus(); });


                    // Attach behaviour for the address search "selectize" component
                    $('#selectAddress').selectize({
                        
                        // The attributes from the retrieved objects mapped onto "select" component
                        valueField: 'key',
                        labelField: 'displayValue',
                        searchField: 'displayValue',
                        
                        // Selection must be from the list, or non at all
                        create: false,
                        
                        render: {
                                // display of the selected item
                                item: function(item, escape) {
                                    return '<div class="glenntag"><span>' + escape(item.displayValue) + '</span></div>';
                                },
                                // display of the items in the drop down list
                                option: function(item, escape) {
                                    return '<div><span>' + escape(item.displayValue) + '</span></div>';
                                }
                        },
                        
                        load: onAddressSearchLoad,
                        
                        onItemAdd: onAddressSearchSelection
                        
                    });  // end address selectize init            
                        
                        
                });  // end document ready
                
            </script>


        </div>
                                
    </body>
    
</html>
