<!DOCTYPE html>

<!--/*

A content fragment: the "content" div will be inserted into the "content"
section of the active layout.

The content for this page is relates to defining people, businesses, addresses,
contact numbers, etc.

*/-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="#{view.party.title}">Party</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
        <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
        <script src="../../../resources/js/jquery-2.1.4.min.js" th:src="@{/resources/js/jquery-2.1.4.min.js}"></script>
        <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    </head>

    <body>
        
        <div class="container" th:fragment="content">
            
                <form class="form-horizontal" method="post" th:action="@{/core/party}" th:object="${partyForm}" >

                    
                    <!--/* Hidden modal display used to populate "notes" element of the form */-->
                    <div th:replace="fragments/modalNote :: modalNote"></div>
            
                    
                    <!--/* Show general error message when form contains errors */-->
                    <th:block th:if="${#fields.hasErrors('${partyForm.*}')}">
                        <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
                    </th:block>
                    
                    
                    <fieldset>
                        
                        <legend>Party</legend>
                        
                        <div class="form-group" th:classappend="${#fields.hasErrors('partyName')}? 'has-error'">
                            <label for="inputPartyName" class="control-label col-lg-1">Name</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="inputPartyName" placeholder="Party Name" th:field="*{partyName}" autofocus="true"/>
                                <span class="help-block" th:if="${#fields.hasErrors('partyName')}" th:errors="*{partyName}">Invalid party name</span>
                            </div>
                            <div class="col-lg-7">
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#noteModal">Notes</button>
                            </div>
                        </div> 
                        
                        <div class="form-group">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-11">
                                <input type="checkbox" name="inactive" th:field="*{recordMetaData.inactive}"/>Inactive
                            </div>
                        </div>

                        
                        <!--/* Add action buttons depending on state of form. */-->
                        <div th:replace="fragments/modeButtons :: modeButtons"></div>


                    </fieldset>
                    
                </form>

            
            <div th:if="${partyForm.recordMetaData.editMode}">
                
                <!-- A form to show an "Address" modal dialog -->
                <form id="addressModalForm" class="form-horizontal" method="post" th:action="@{/core/partyAddress}" th:object="${addressForm}" >
                    <div th:replace="core/contact/address :: modalAddress"></div>
                </form>
                
                <!-- A form to request a deletion of an "Address" mapping to a "Party" -->
                <form id="partyAddressDelete" method="post" th:action="@{/core/partyAddressDelete}">
                    <input type="hidden" name="selectedAddressId" id="selectedAddressId" value=""/>
                </form>
                
                
                <!-- Pre-populate address modal -->
                <script th:inline="javascript">
                    function prepareAddressModal(srcAddress) {
                        document.getElementById('line1').value = (srcAddress.line1|| "");
                        document.getElementById('line2').value = (srcAddress.line2|| "");
                        document.getElementById('city').value = (srcAddress.city|| "");
                        document.getElementById('province').value = (srcAddress.subdivisionCode|| "");
                        document.getElementById('postalCode').value = (srcAddress.postalCode|| "");
                        document.getElementById('countryCode').value = (srcAddress.countryCode|| "");
                        document.getElementById('note').value = (srcAddress.note|| "");
                        document.getElementById('modalAddressId').value = (srcAddress.recordMetaData.id|| "");
                        document.getElementById('modalAddressVersion').value = (srcAddress.recordMetaData.version|| "");
                    }
                    
                    // Every time a modal is shown, if it has an autofocus element, focus on it.
                    $('.modal').on('shown.bs.modal', function() { $(this).find('[autofocus]').focus();
                    // $('#addressModal').on('shown.bs.modal', function() { $('#line1').focus(); });
});
                    
            </script>

                
                <h4>Address <a href="#"><span class="fa fa-plus-circle" style="color:green" data-toggle="modal" data-target="#addressModal" th:onclick="'document.forms[\'addressModalForm\'].reset(); document.getElementById(\'line1\').focus(); return false;'"></span></a></h4>

                    <table class="table table-striped">
                        
                        <tr th:each="address, iterationStatus : ${partyForm.addresses}">
                            
                            <td th:text='${iterationStatus.count}'>index</td>
                            <td th:text="${address.toString()}">Address</td>
<!--/*                             <td><a href="#" data-toggle="modal" data-target="#addressModal" th:text="${address.toString()}">Address</a></td> */-->

                            <td th:text="${address.note}">Note</td>
                            
                            <!-- Edit Address -->
                            <td>
                                <a href="#"
                                   data-toggle="modal" data-target="#addressModal"
                                   th:onclick="'prepareAddressModal(' + ${address.toJson()} + '); return false;'">
                                    <i class="fa fa-edit"/>
                                </a>
                            </td>
                            

                            
                            <!-- Delete mapping -->
                            <td>
                                <a href="#"
                                   th:onclick="'document.getElementById(\'selectedAddressId\').value = \'' + ${address.recordMetaData.id} + '\'; document.forms[\'partyAddressDelete\'].submit(); return false;'">
                                    <i class="fa fa-remove" style="color:red"/>
                                </a>
                            </td>

                        </tr>
                        
                    </table>

            </div>
            

        </div>
        
    </body>
    
</html>