<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Accounted4 Asset Management</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        
        <link rel="icon" type="image/png" href="../../../resources/images/A4-16.png" th:href="@{/resources/images/A4-16.png}"/>
        <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
        <link href="../../../resources/css/font-awesome.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/font-awesome.min.css}" />
        <link href="../../../resources/css/selectize-0.12.1.css" rel="stylesheet" media="screen" th:href="@{/resources/css/selectize-0.12.1.css}" />
        <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
        
        <script src="../../../resources/js/jquery-2.1.4.min.js" th:src="@{/resources/js/jquery-2.1.4.min.js}"></script>
        <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
        <script src="../../../resources/js/selectize-0.12.1.min.js" th:src="@{/resources/js/selectize-0.12.1.min.js}"></script>
        
    </head>
    
    <body>
        
        <div th:replace="fragments/header :: header">Header</div>
        
        <div th:if="${notification}">
                <div th:replace="fragments/flash :: alert">Flash alert script</div>
                <div class="alert alert-success" role="alert" th:text="${notification}">...</div>
        </div>

        <div th:replace="${view} :: content">Content</div>
        
        <div th:replace="fragments/footer :: footer">Footer</div>
        
    </body>
    
</html>
