<!DOCTYPE html>

<!--/*

Controller errors route to this page through the ControllerAdvice ExceptionHandler.

*/-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Error page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
        <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    </head>
    
    <body>
        
        <div th:replace="fragments/header :: header">Header</div>
        
        <div class="container">
            <div th:replace="fragments/alert :: alert (type='danger', message=${errorMessage})">Error: Error</div>
            <div th:include="fragments/footer :: footer">&copy; 2015 Accounted4</div>
        </div>
        
    </body>
    
</html>